<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home-screen">
  <div class="app-banner">
    <div class="app-banner-inner">
      <div class="logo">
        <fa-icon icon="dumbbell"></fa-icon><span>Buildr</span>
      </div>
      <h4 class="text-center m-0">Build <span>your</span> body <span>strong</span></h4>
    </div>
  </div>
  <div class="placeList">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle class="m-0">Lorem ipsum dolor sit amet dolor consectetur adipisicing elit.</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
